<!-- app/views/text_inspections/results.html.erb -->

<h1>Word count results</h1>

<h2>The total word count is: <%= @word_count %></h2>

<p>The original text is: <%= @text %></p>

<p>
  The estimated reading time is: <%= @reading_time %>
</p>
