<ol>
  <% @contacts.each do |contact| %>
    <li>
      <%= contact.name %>
      -
      <%= link_to "Contact Information", contact_info_path(contact) %>
    </li>
  <% end %>

  <%= link_to("New Contact", contact_create_new_path(@contact))%>
</ol>







<!-- <h1>Contacts#index</h1>
<p>Find me in app/views/contacts/index.html.erb</p> -->
